html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.disable-hover { pointer-events: none !important; }

/*------ icons content-in ------ */
/*------------------------------------------------------------------------- */
/*----------------------------- MAIN STYLES ------------------------------- */
/*------------------------------------------------------------------------- */
svg { display: block; width: 100%; height: 100%; }

/* Fix menu none-adaptive */
.nav-justified > li { display: table-cell; width: 1%; }

/* Content width */
.container { width: 970px; }

header { min-width: 970px; }

.header-top-line { height: 14px; background-color: #181818; }

/* Logo */
.logo { position: absolute; top: 0; left: calc(50% - 51px); width: 102px; height: 75px; background-color: #181818; }
.logo__in { position: absolute; z-index: 6; overflow: hidden; top: 20px; left: 20px; width: 63px; height: 72px; background: url("../img/logo.png") no-repeat center center; }
.logo__in a { display: block; width: 100%; height: 100%; text-indent: -9999px; }
.logo:before { content: ""; position: absolute; z-index: 5; left: 0; bottom: -95px; border: 51px solid transparent; border-top: 44px solid #181818; }

/* Navigation */
.main-nav { margin: 53px auto 0; width: 720px; }
.main-nav__right { margin-left: 106px; }
.main-nav__left, .main-nav__right { position: relative; float: left; width: calc(50% - 53px); }
.main-nav__left ul li, .main-nav__right ul li { text-align: center; }
.main-nav__left ul li > a, .main-nav__right ul li > a { display: block; font-family: "CenturyGothic", Arial, sans-serif; font-size: 18px; line-height: 30px; color: #1d1d1d; border-bottom: 6px solid transparent; -webkit-transition: all 0.3s; transition: all 0.3s; }
.main-nav__left ul li > a:hover, .main-nav__left ul li > a:focus, .main-nav__right ul li > a:hover, .main-nav__right ul li > a:focus { text-decoration: none; }
.main-nav__left ul li.active a, .main-nav__left ul li a:hover, .main-nav__right ul li.active a, .main-nav__right ul li a:hover { border-bottom: 6px solid #4675b8; -webkit-transition: all 0.3s; transition: all 0.3s; }

/* SVG lines */
.svg-header__in { position: relative; }
.svg-header__in .header_line_left { position: absolute; top: 52px; left: 0; width: 485px; height: 125px; }
.svg-header__in .header_line_right { position: absolute; top: 52px; left: 485px; width: 485px; height: 125px; }
.svg-header__in .header_line_mid { position: absolute; top: 52px; left: 482px; width: 6px; height: 125px; }

.svg-header { position: relative; height: 200px; }
.svg-header .header_left_out { position: absolute; top: 54px; left: 0; width: calc(50% - 484px); height: 17px; }
.svg-header .header_right_out { position: absolute; top: 54px; right: 0; width: calc(50% - 484px); height: 17px; }

/* Intro */
.intro { min-width: 970px; padding-top: 20px; height: 425px; font-family: "CenturyGothic", Arial, sans-serif; color: #181818; font-size: 18px; line-height: 33px; letter-spacing: 0.02em; }
.intro .logo-text { font-family: "Impact", Arial, sans-serif; color: #1d1d1d; font-size: 38px; line-height: 45px; }
.intro .logo-text a { display: block; color: inherit; }
.intro .logo-text a:hover, .intro .logo-text a:focus { text-decoration: none; }
.intro .logo-text a span { display: block; }
.intro .logo-text a span + span { font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 30px; color: #4675b8; line-height: 45px; }

.svg-intro__in { position: relative; }
.svg-intro__in .intro_line_left { position: absolute; top: 120px; left: 0; width: 485px; height: 300px; }
.svg-intro__in .intro_line_right { position: absolute; top: 120px; left: 485px; width: 485px; height: 300px; }
.svg-intro__in .intro_line_mid { position: absolute; top: 120px; left: 482px; width: 6px; height: 290px; }

.svg-intro { position: relative; }
.svg-intro .intro_left_out { position: absolute; top: 401px; left: 0; width: calc(50% - 484px); height: 2px; }
.svg-intro .intro_right_out { position: absolute; top: 401px; right: 0; width: calc(50% - 484px); height: 2px; }

/* Infographic */
.about { position: relative; min-width: 970px; padding-top: 80px; padding-bottom: 80px; font-family: "CenturyGothic", Arial, sans-serif; font-size: 18px; color: #fff; line-height: 22px; letter-spacing: 0.02em; background-color: #181818; border-top: 14px solid #4675b8; border-bottom: 14px solid #4675b8; }
.about__inner { padding: 0 30px; }
.about p { margin-top: 75px; }
.about p.year-time { margin-top: 40px; font-family: "Impact", Arial, sans-serif; font-size: 30px; color: #fefefe; line-height: 36px; letter-spacing: 0.05em; }

.svg-about { position: relative; }
.svg-about .about_mid_1 { position: absolute; top: -80px; left: calc(50% - 1px); width: 2px; height: 80px; }
.svg-about .about_left_out_1 { position: absolute; top: -30px; left: 0; width: calc(50% - 484px); height: 2px; }
.svg-about .about_left_out_2 { position: absolute; bottom: -30px; left: 0; width: calc(50% - 484px); height: 2px; }
.svg-about .about_right_out_1 { position: absolute; top: -30px; right: 0; width: calc(50% - 484px); height: 2px; }
.svg-about .about_right_out_2 { position: absolute; bottom: -30px; right: 0; width: calc(50% - 484px); height: 2px; }
.svg-about .svg-hexa__about { position: relative; }
.svg-about .svg-hexa__about .hexa_right_1, .svg-about .svg-hexa__about .hexa_right_2, .svg-about .svg-hexa__about .hexa_right_3, .svg-about .svg-hexa__about .hexa_right_4, .svg-about .svg-hexa__about .hexa_right_5 { position: absolute; top: 0; left: 50%; width: 102px; height: 116px; }
.svg-about .svg-hexa__about .hexa_left_1, .svg-about .svg-hexa__about .hexa_left_2, .svg-about .svg-hexa__about .hexa_left_3, .svg-about .svg-hexa__about .hexa_left_4, .svg-about .svg-hexa__about .hexa_left_5 { position: absolute; top: 0; left: calc(50% - 51px); width: 102px; height: 116px; }
.svg-about .svg-h__about { position: relative; }
.svg-about .svg-h__about .about_h_1, .svg-about .svg-h__about .about_h_3, .svg-about .svg-h__about .about_h_5 { position: absolute; top: 57px; left: -20px; width: calc(50% - 30px); height: 2px; }
.svg-about .svg-h__about .about_h_2, .svg-about .svg-h__about .about_h_4 { position: absolute; top: 57px; right: -20px; width: calc(50% - 30px); height: 2px; }
.svg-about .svg-h__about .about_v_1, .svg-about .svg-h__about .about_v_2, .svg-about .svg-h__about .about_v_3, .svg-about .svg-h__about .about_v_4 { position: absolute; bottom: 0; left: calc(50% - 1px); width: 2px; height: calc(100% - 116px); }
.svg-about .svg-h__about .about_v_5 { position: absolute; bottom: -80px; left: calc(50% - 1px); width: 2px; height: calc(100% - 36px); }

.svg-about__in { position: relative; }
.svg-about__in .about_line_left_1 { position: absolute; top: 0; left: 89px; width: 2px; height: 100%; }
.svg-about__in .about_line_left_2 { position: absolute; top: -30px; left: 0; width: 90px; height: 30px; }
.svg-about__in .about_line_left_3 { position: absolute; bottom: -30px; left: 0; width: 90px; height: 30px; }
.svg-about__in .about_line_right_1 { position: absolute; top: 0; right: 89px; width: 2px; height: 100%; }
.svg-about__in .about_line_right_2 { position: absolute; top: -30px; right: 0; width: 90px; height: 30px; }
.svg-about__in .about_line_right_3 { position: absolute; bottom: -30px; right: 0; width: 90px; height: 30px; }

.portfolio { position: relative; min-width: 970px; padding-top: 50px; padding-bottom: 170px; font-family: "CenturyGothic", Arial, sans-serif; font-size: 16px; color: #181818; line-height: 20px; letter-spacing: 0.02em; }
.portfolio h2 { font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 30px; color: #181818; line-height: 66px; }
.portfolio .svg-portfolio { position: relative; }
.portfolio .svg-portfolio .portfolio_mid_1 { position: absolute; top: -50px; left: calc(50% - 1px); width: 2px; height: 50px; }
.portfolio .svg-portfolio .portfolio_mid_2 { position: absolute; top: 70px; left: calc(50% - 1px); width: 2px; height: 150px; }
.portfolio .svg-portfolio .portfolio_mid_3 { position: absolute; bottom: 0; left: calc(50% - 1px); width: 2px; height: 70px; -webkit-transition: all 0.6s linear; transition: all 0.6s linear; }
.portfolio .svg-portfolio .portfolio_mid_3.active { bottom: -70px; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; }
.portfolio .svg-portfolio .portfolio_mid_4 { position: absolute; bottom: -170px; left: calc(50% - 1px); width: 2px; height: 70px; }
.portfolio .svg-portfolio .slider-close { display: none; position: absolute; bottom: -30px; right: 50px; font-size: 30px; color: #4675b8; cursor: pointer; }

.pf-slider-for { position: relative; z-index: 3; margin: 70px auto 0; width: 720px; font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 14px; color: #181818; letter-spacing: 0.02em; text-transform: uppercase; }
.pf-slider-for .slick-track { padding: 30px 0; }
.pf-slider-for .slick-prev, .pf-slider-for .slick-next { padding-left: 22px; margin-top: -20px; height: 40px; }
.pf-slider-for .slick-prev span, .pf-slider-for .slick-next span { display: table-cell; vertical-align: middle; height: 40px; font-size: 29px; -webkit-transition: all 0.3s; transition: all 0.3s; text-align: center; }
.pf-slider-for .slick-prev .icon-blue, .pf-slider-for .slick-next .icon-blue { color: #4675b8; }
.pf-slider-for .slick-prev .icon-dark, .pf-slider-for .slick-next .icon-dark { color: #1d1d1d; }
.pf-slider-for .slick-prev:hover span, .pf-slider-for .slick-next:hover span { -webkit-transform: scale(1.5, 1.5); -ms-transform: scale(1.5, 1.5); transform: scale(1.5, 1.5); -webkit-transition: all 0.3s; transition: all 0.3s; }
.pf-slider-for .slick-prev { left: -107px; }
.pf-slider-for .slick-prev:before { content: none; }
.pf-slider-for .slick-prev .icon-blue { position: relative; left: -22px; margin-left: -22px; }
.pf-slider-for .slick-next { right: -50px; }
.pf-slider-for .slick-next:before { content: none; }
.pf-slider-for .slick-next .icon-dark { position: relative; left: -22px; margin-left: -22px; }
.pf-slider-for .slick-slide { position: relative; text-align: center; height: 100px; cursor: pointer; -webkit-transition: all 0.7s; transition: all 0.7s; stroke-width: 2; }
.pf-slider-for .slick-slide.slick-scale { -webkit-transform: scale(1.5, 1.5); -ms-transform: scale(1.5, 1.5); transform: scale(1.5, 1.5); -webkit-transition: all 0.7s; transition: all 0.7s; }
.pf-slider-for .slick-slide.slick-scale polygon { stroke-width: 1.3; }
.pf-slider-for .slick-slide polygon { fill: #fff; -webkit-transition: all 0.3s; transition: all 0.3s; }
.pf-slider-for .slick-slide:hover { color: #fff; -webkit-transition: all 0.4s; transition: all 0.4s; }
.pf-slider-for .slick-slide:hover polygon { fill: #4675b8; -webkit-transition: all 0.3s; transition: all 0.3s; }
.pf-slider-for .slick-slide .pf-category { position: relative; padding-left: 34px; padding-right: 34px; z-index: 6; top: -100px; left: 0; height: 100%; width: 100%; }
.pf-slider-for .slick-slide .pf-category__in { display: table-cell; height: 100px; width: 90px; vertical-align: middle; }
.pf-slider-for .slick-slide .pf-category__in span { font-size: 10px; }
.pf-slider-for .pf-svg svg { width: 100px; height: 100px; margin: 0 auto; }

.pf-slider { margin: 50px auto 0; width: 866px; }
.pf-slider polygon { stroke-dasharray: 820, 130; }
.pf-slider .poly__full polygon { stroke-dasharray: 950; stroke-dashoffset: 0; }
.pf-slider .poly__right__bot polygon { stroke-dashoffset: 627; }
.pf-slider .poly__left__top polygon { stroke-dashoffset: 153; }

.pf-slide__in { position: relative; overflow: hidden; height: 312px; vertical-align: bottom; }
.pf-slide__in svg + svg { position: absolute; top: 0; fill: rgba(70, 117, 184, 0); -webkit-transition: all 0.5s; transition: all 0.5s; }
.pf-slide__in svg + svg text { fill: rgba(255, 255, 255, 0); text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); -webkit-transition: fill 0.5s; transition: fill 0.5s; }
.pf-slide__in:hover svg + svg { fill: rgba(70, 117, 184, 0.5); -webkit-transition: all 0.5s; transition: all 0.5s; }
.pf-slide__in:hover svg + svg text { fill: white; -webkit-transition: fill 0.5s; transition: fill 0.5s; }
.pf-slide__in .pf-text { display: table-cell; padding-left: 20px; padding-right: 20px; position: relative; z-index: 3; top: -312px; height: 312px; left: 0; font-family: "CenturyGothic", Arial, sans-serif; font-size: 16px; color: #fff; line-height: 20px; letter-spacing: 0.02em; text-align: center; vertical-align: middle; }
.pf-slide__in .pf-text__strong { font-family: "HelveticaNeueCyr-Medium", Arial, sans-serif; font-size: 20px; line-height: 36px; }
.pf-slide__in polygon { stoke-width: 2; stroke: #4675b8; }

.pf-slide > .row { position: relative; }
.pf-slide > .row + .row { position: relative; top: -50px; }

.pf-info { position: relative; z-index: 2; overflow: hidden; margin: -80px auto 0; width: 600px; padding: 100px 20px 20px 20px; font-family: Arial, sans-serif; font-size: 16px; color: #fff; line-height: 20px; background-color: #181818; border-top: 2px solid #4675b8; }
.pf-info > li { display: none; height: 100%; width: 100%; text-align: center; }
.pf-info > li.active { display: table; }
.pf-info > li.active p { display: table-cell; vertical-align: bottom; }

/* Reset fancybox styles */
.fancybox-wrap, .fancybox-wrap * { box-sizing: content-box; }

.fancybox-wrap .fancybox-title { padding: 0 10px; font-family: "CenturyGothic", Arial, sans-serif; letter-spacing: 0.02em; font-size: 14px; background-color: rgba(0, 0, 0, 0.2); }

.tgl_mid_1 { position: absolute; z-index: 7; top: -14px; left: 0; width: 150px; height: 100px; }

.tgl_mid_2 { position: absolute; z-index: 7; top: -100px; right: 0; width: 150px; height: 100px; }

.favor { position: relative; min-width: 970px; font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 16px; color: #fff; line-height: 20px; letter-spacing: 0.02em; background-color: #181818; border-top: 14px solid #4675b8; }
.favor h2 { font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 30px; line-height: 66px; }
.favor .svg-favor { position: relative; }
.favor > .svg-favor { padding-top: 50px; padding-bottom: 100px; }
.favor .favor_mid_1 { position: absolute; top: 0; left: calc(50% - 1px); width: 2px; height: 70px; }
.favor .favor_mid_2 { position: absolute; bottom: 0; left: calc(50% - 1px); width: 2px; height: 70px; }
.favor .favor_v_1 { position: absolute; z-index: 6; top: -50px; left: 160px; width: 2px; height: 380px; }
.favor .favor_v_2 { position: absolute; z-index: 6; top: 115px; left: 50%; margin-left: -1px; width: 2px; height: 215px; }
.favor .favor_v_3 { position: absolute; z-index: 6; top: -50px; right: 161px; width: 2px; height: 380px; }
.favor .favor_h_1 { position: absolute; top: 18px; left: 50%; width: 650px; height: 2px; }

.favor-el-wrap { margin-top: 90px; }
.favor-el-wrap .favor-el { position: relative; }
.favor-el-wrap .favor-el .favor-icon { position: relative; z-index: 7; margin: 50px 30px 90px 30px; font-size: 36px; }
.favor-el-wrap .favor-el__in h3 { margin-bottom: 10px; font-size: 18px; line-height: 24px; }
.favor-el-wrap .favor-el .favor-hex_1 { position: absolute; z-index: 6; left: 50%; top: -32px; margin-left: -50px; width: 100px; height: 100px; }
.favor-el-wrap .favor-el .favor-hex_2 { position: absolute; z-index: 6; left: 50%; top: -32px; margin-left: -50px; width: 100px; height: 100px; }
.favor-el-wrap .favor-el .favor-hex_3 { position: absolute; z-index: 6; right: 50%; top: -32px; margin-right: -50px; width: 100px; height: 100px; }

.favor-blog { position: relative; padding-top: 180px; font-family: "CenturyGothic", Arial, sans-serif; color: #fff; font-size: 30px; line-height: 36px; letter-spacing: 0.02em; }
.favor-blog a { display: inline-block; color: inherit; padding: 17px; background-color: #4675b8; -webkit-transition: all 0.3s; transition: all 0.3s; }
.favor-blog a:hover, .favor-blog a:focus { text-decoration: none; background-color: #2a466e; -webkit-transition: all 0.3s; transition: all 0.3s; }
.favor-blog .favor_v_4 { position: absolute; top: 20px; left: calc(50% - 1px); width: 2px; height: 115px; }
.favor-blog .favor-line_left { position: absolute; top: 0; right: 50%; width: 150px; height: 180px; }
.favor-blog .favor-line_right { position: absolute; top: 0; left: 50%; width: 150px; height: 180px; }

.tgl_mid_3 { position: absolute; top: -52px; left: 0; width: 150px; height: 100px; }

.tgl_mid_4 { position: absolute; top: -150px; right: 0; width: 150px; height: 100px; }

.services { position: relative; min-width: 970px; padding-top: 50px; padding-bottom: 90px; font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 16px; color: #fff; line-height: 20px; letter-spacing: 0.02em; background-color: #4675b8; border-top: 2px solid #fff; }
.services .svg-services { position: relative; }
.services h2 { font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 30px; line-height: 66px; }
.services__inner { position: relative; padding-top: 10px; padding-bottom: 10px; min-height: 80px; background-color: #181818; }
.services__inner .tgl_top_1 { position: absolute; top: -1px; right: -1px; height: calc(50% + 2px); width: 40px; }
.services__inner .tgl_bot_1 { position: absolute; bottom: -1px; right: -1px; height: calc(50% + 2px); width: 40px; }
.services__left, .services__right { display: table-cell; float: none; }
.services__right { height: 100%; vertical-align: middle; }
.services__right .btn-now { display: block; font-family: "CenturyGothic", Arial, sans-serif; font-size: 18px; line-height: 22px; }
.services__right .btn-now:hover, .services__right .btn-now:focus { text-decoration: none; color: #a2badc; }

.services_mid_1 { position: absolute; top: 0; left: calc(50% - 1px); width: 2px; height: 50px; }

.services_mid_2 { position: absolute; bottom: 0; left: calc(50% - 1px); width: 2px; height: 90px; }

.services_left_1 { position: absolute; top: -50px; left: 160px; width: 2px; height: 160px; }

.services-title { min-height: 40px; margin-top: 65px; margin-bottom: 15px; font-family: "CenturyGothic", Arial, sans-serif; font-size: 20px; line-height: 1em; }
.services-title p { margin-left: 65px; }

.services-hex_1 { position: absolute; top: -99px; left: -50px; width: 100px; height: 100px; }

.services_h_1 { position: absolute; top: -65px; left: 49px; right: 100px; height: 2px; }

.services_h_2 { position: absolute; top: 50%; margin-top: -1px; left: 100%; height: 2px; width: 70px; }

.services_v_1 { position: absolute; top: -65px; right: 100px; height: 65px; width: 2px; }

.services_v_2 { position: absolute; top: 0; left: -1px; bottom: -22px; width: 2px; }

.services_v_3 { position: absolute; top: 0; left: -1px; height: 100%; width: 2px; }

.contacts { padding-bottom: 90px; font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 18px; color: #1d1d1d; line-height: 24px; letter-spacing: 0.02em; }
.contacts h2 { margin-top: 220px; font-size: 30px; line-height: 45px; }
.contacts h2 + p { margin-top: 5px; font-family: "CenturyGothic", Arial, sans-serif; }

.contacts-info { position: relative; margin-top: 150px; padding-bottom: 20px; border-bottom: 2px solid #4675b8; }

.contacts-icon { display: block; margin: -50px auto 0; width: 50px; height: 50px; font-size: 30px; color: #4675b8; background-color: #FFF; text-align: center; }

.svg-contacts { position: relative; }
.svg-contacts .contacts_line_left { position: absolute; top: 0; left: 0; width: 485px; height: 200px; }
.svg-contacts .contacts_line_right { position: absolute; top: 0; left: 485px; width: 485px; height: 200px; }
.svg-contacts .contacts_line_mid { position: absolute; top: 0; left: 482px; width: 6px; height: 200px; }
.svg-contacts .contacts_line_mid_2 { position: absolute; bottom: -100px; left: 50%; margin-left: -17px; width: 34px; height: 100px; }
.svg-contacts .contacts_line_mid_3 { position: absolute; bottom: -90px; left: 50%; margin-left: -17px; width: 34px; height: 70px; }
.svg-contacts .contacts_left_out { position: absolute; top: 3px; left: 0; width: calc(50% - 484px); height: 2px; }
.svg-contacts .contacts_right_out { position: absolute; top: 3px; right: 0; width: calc(50% - 484px); height: 2px; }
.svg-contacts .contacts_line_left_4 { position: absolute; top: 320px; left: 0; width: 485px; height: 125px; }
.svg-contacts .contacts_line_mid_4 { position: absolute; top: 320px; left: 482px; width: 6px; height: 55px; }
.svg-contacts .contacts_line_right_4 { position: absolute; top: 320px; left: 485px; width: 485px; height: 125px; }
.svg-contacts .contacts_left_out_4 { position: absolute; top: 426px; left: 0; width: calc(50% - 484px); height: 17px; }
.svg-contacts .contacts_right_out_4 { position: absolute; top: 426px; right: 0; width: calc(50% - 484px); height: 17px; }

.contact-form { overflow: hidden; margin-top: 120px; min-height: 370px; }
.contact-form .field { margin-bottom: 10px; }
.contact-form .field input { width: 100%; height: 30px; border: 2px solid #4675b8; text-align: center; }
.contact-form .field textarea { width: 100%; height: 200px; border: 2px solid #4675b8; resize: none; line-height: 20px; }
.contact-form button[type=submit] { width: 100%; height: 30px; background-color: #1d1d1d; color: #fff; }
.contact-form button[type=submit]:hover { background-color: #4675b8; }
.contact-form .form-error { font-size: 16px; line-height: 20px; }

footer { margin-top: 16px; height: 32px; background-color: #4675b8; font-family: "HelveticaNeueCyr-Roman", Arial, sans-serif; font-size: 12px; color: #fff; line-height: 16px; letter-spacing: 0.02em; }
footer .svg-footer { position: relative; }
footer .svg-footer .ft_line_left { position: absolute; top: -4px; left: 0; margin-left: -484px; width: 50%; height: 4px; }
footer .svg-footer .ft_line_right { position: absolute; top: -4px; right: 0; width: calc(50% - 484px); height: 4px; }
footer .svg-footer .ft_line_mid { position: absolute; top: -16px; left: 0; width: 100%; height: 16px; }
